* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: 'BenchNine', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 450px) and (min-height: 450px) {
  html {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 600px) and (min-height: 600px) {
  html {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 900px) and (min-height: 900px) {
  html {
    font-size: 2.1rem;
  }
}

@media screen and (min-width: 1300px) and (min-height: 1300px) {
  html {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1600px) and (min-height: 1600px) {
  html {
    font-size: 2.9rem;
  }
}

body {
  margin: 0;
  background: linear-gradient(90deg, rgb(193, 255, 228) 0%, rgb(214, 196, 255) 100%);
  transition: background 2s ease;
}

body.winner-one {
  background: rgb(193, 255, 228);
}

body.winner-two {
  background: rgb(214, 196, 255);
}

body.death {
  background: #000;
}

header {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 0 10px 25px;
  letter-spacing: 27px;
  color: #fff;
  text-shadow: 1px 1px #4a2afb;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.winner-one header {
  text-shadow: 1px 1px #fff;
  color: rgb(27, 179, 110);
}

.winner-two header {
  text-shadow: 1px 1px #fff;
  color: #8e41f3;
}

.death header {
  text-shadow: 1px 1px #fff;
  color: #000;
}

header .team-1 {
  text-shadow: 1px 1px #fff;
  color: rgb(27, 179, 110);
}

header .team-2 {
  text-shadow: 1px 1px #fff;
  color: #8e41f3;
}

button {
  cursor: pointer;
  outline: none;
  appearance: none;
}

.game-board {
  padding: 2px;
  width: 100%;
  max-width: calc(100vh - 5rem);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.game-board li {
  list-style-type: none;
  width: calc(20% - 2px);
  height: 0;
  padding-top: calc(20% - 2px);
  margin: 1px;
  position: relative;
}

.game-board li button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, .33);
  color: #274292;
  text-transform: uppercase;
  transition: all .4s ease;
  transition-property: background-color, color;
  hyphens: auto;
  padding: 2px;
  margin: 0;
  font-weight: 600;
  font-family: inherit;
  font-size: 1rem;
}

.game-board li button.active-one {
  background-color: rgb(138, 210, 179);
  color: #19543f;
}

.game-board li button.active-two {
  color: #482382;
  background-color: rgb(191, 182, 226);
}

.game-board li button.active-neutral {
  color: #695c19;
  background-color: #fff7bb;
}

.game-board li button.active-death {
  color: #fff;
  background-color: #000;
}

.game-board li button:hover {
  box-shadow: 0 0 14px rgba(14, 0, 230, 0.15);
}

.game-board li button:disabled {
  cursor: not-allowed;
}

nav {
  text-align: center;
  margin-top: .5rem;
}

nav button {
  border: 0;
  border-radius: 2em;
  background-color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
  padding: 0.4rem .5rem;
  font-weight: 700;
  font-size: .6rem;
  color: #4a2afb;
  transition: all .4s ease;
  margin: 0 .5rem;
}

nav button:hover {
  box-shadow: 1px 1px 6px rgba(35, 20, 158, 0.15);
}

@media screen and (max-width: 500px) {
  header {
    letter-spacing: 15px;
  }
}

.modal {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .95);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: -1;
  transition: opacity .4s ease;
}

.modal-open {
  opacity: 1;
  z-index: 1;
}

.modal button {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 3rem;
  background: none;
  border: 0;
  line-height: 1;
}

.modal-inner {
  width: 100%;
  max-width: 25rem;
  padding: 1rem;
}

.modal-inner ul {
  padding-left: 1.2rem;
}

.text-center {
  text-align: center;
}
